

.nav-wrapper .left img {
    height: 64px;
    margin-left: 10px;
}

.btn li {
    
}

@media only screen and (max-width: 600px) {
    .nav-wrapper .left img {
        height: 56px;
    }
  }

  @media only screen and (max-width: 446px) {
    .nav-wrapper .left img {
        display: none;
    }
  }

